nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 10px;
}

ul.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.container-menu div.btnMenu {
  display: flex;
}

.container-menu div.menu-list {
  display: none;
}

.panel-nav-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0px;
  background-color: #495e57;
  top: 0px;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 15px #07271c;
}

.panel-nav-menu .close-menu {
  position: absolute;
  right: 5px;
  padding-top: 5px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  gap: 60px;
  padding-bottom: 25px;
}

header p {
  max-width: 320px;
}

.header-image {
  height: 350px;
  width: 90%;
}

.custom-button {
  height: 35px;
  width: 200px;
  border: 0px;
  border-radius: 5px;
}

.custom-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: center;
    height: 406px;
  }

  .header-image {
    height: 300px;
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .container-menu div.btnMenu {
    display: none;
  }

  .container-menu div.menu-list {
    display: flex;
  }

  nav {
    justify-content: center;
  }

  ul.menu {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    list-style: none;
  }
}
